@charset 'utf-8';

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: #1b3b86;
  --main_light: #cbdbff;
  --main_dark: #001545;
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  /* w1340+h100+m0-a+bg */
  width: 1340px;
  height: 100px;
  margin: 0 auto;
  /* background: red; */

  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.logo {
  /* w190+h45+bd */
  width: 190px;
  height: 45px;
  /* border: 1px solid #000; */
}

.gnb {
  display: flex; /* df */

  align-self: flex-end; /* as: 너만 바닥으로 붙어 */
}

.gnb > li > a {
  /* db+p12+w180+bg+fwb+c#fff+bd */
  display: block;
  padding: 12px;
  width: 180px;
  background: var(--main);
  font-weight: bold;
  color: #fff;
  border: 1px solid var(--line);
  text-align: center; /* tac */
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.gnb > li {
  position: relative; /* posr: submenu 절대배치의 기준 */
}

.submenu {
  display: none; 

  /* posa+t0+l0+bg */
  position: absolute;
  top: 47px;

  left: 0;

  width: 100%;
  z-index: 1;

  border: 1px solid var(--line);
}

.submenu li a {
  /* db+p10+tac+bdb+bg#fff */
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--line);
  background: #fff;
}

.submenu li a:hover {
  background: var(--main_light);
}

.slider {
  height: 350px;
  background: skyblue;
  overflow: hidden;

  position: relative; /* posr: .slide_item의 기준 */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 3px solid #f00; */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative;

  /* 자신이 절대배치하기 위해 */
  position: absolute;
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p50+bdrs50+bg+fwb+fz30+c#fff+op.7 */
  padding: 50px;
  border-radius: 50px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
}

.link {
  /* w1340+m0-a+bg */
  width: 1340px;
  margin: 0 auto;
  background: #0d2c36;
  padding: 20px;

  margin-top: -80px; /* mt-80 */

  position: static; /* 기본값, 좌표값을 쓸 수 없다. z-index를 줄 수 없다. */
  position: relative;
  z-index: 1;
}

.link_list {
  display: flex;
  justify-content: center; /* jcc */
  gap: 60px; /* g60 */
}

.link_list li a {
  display: flex;
  gap: 20px;
  align-items: center; /* aic */
  color: #76deff;
}

.link_list li a img {
  /* db+w70+h70+bd */
  display: block;
  width: 70px;
  height: 70px;
  /* border: 1px solid #000; */
}

.link_list li a p {
  /* fwb+fz14 */
  font-weight: bold;
  font-size: 14px;
}


.banner {
  /* w1340+m0-a+bg */
  width: 1340px;
  margin: 0 auto;
  background: yellow;
  height: 200px;
}

.board {
  /* w1340+m0-a+bg */
  width: 1340px;
  margin: 0 auto;
  /* background: green; */
  height: 300px;

  display: flex;
}

.notice {
  width: 50%;
  padding: 30px;
}

.notice_list {
  margin-top: 20px; /* mt20 */
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid var(--line);
}

.gallery {
  width: 50%;
  padding: 30px;
  background: var(--bg2);
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 20px; /* g20 */
}

.gallery_list li img {
  /* db+w180+h120+bd */
  display: block;
  width: 180px;
  height: 120px;
  /* border: 1px solid #000; */
}

.gallery_list li:hover img {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt5+fz14 */
  margin-top: 5px;
  font-size: 14px;
}

footer {
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  background: var(--sub);
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.sns_list {
  display: flex;
  gap: 20px;
}

.sns_list li img {
  display: block;
  width: 40px;
  height: 40px;
  /* border: 1px solid #000; */
}

.family select {
  /* mt10+p5 */
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  z-index: 10;
  display: none;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bd+bdrs30+p30+bg#fff */
  width: 600px;
  min-height: 400px;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 30px;
  background: #fff;

  z-index: 11; /* z11: dim보다 높기만 하면 된다. */
  display: none;
}

.popup p {
  /* mt30+lh1.6 */
  margin-top: 30px;
  line-height: 1.6;
}

.btn_close {
  /* db+mt30+mla+bdn+bg+c#fff+p10-20+bdrs5+cup */
  display: block;
  margin-top: 30px;
  margin-left: auto;
  border: none;
  background: var(--main);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}