@charset 'utf-8';

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

:root {
  --main: #1b3b86;
  --main_light: #d3e0ff;
  --main_dark: #00174d;

  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;

  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: #000;
}
a:hover {
  text-decoration: underline; /* tdu */
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  /* w1340+h100+bg#ff5+m0-a */
  width: 1340px;
  height: 100px;
  background: #ff5;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* aife */
}

.logo {
  /* w190+h45+bd */
  width: 190px;
  height: 45px;
  border: 1px solid #000;

  align-self: center; /* as */
}

.gnb {
  display: flex;
}

.gnb > li {
  position: relative; /* posr */
}

.gnb > li > a {
  /* db+p10-50+bg+fwb+c#fff+bd */
  display: block;
  padding: 10px 50px;
  background: var(--main);
  font-weight: bold;
  color: #fff;
  border: 1px solid var(--line);
  width: 180px;
  text-align: center; /* tac */
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%; /* w100p */
  border: 1px solid var(--line);
  z-index: 5;

  display: none;
}

.submenu li a {
  /* db+p10+tac+bdb+bg#fff */
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--line);
  background: #fff;
}
.submenu li a:hover {
  background: var(--main_light);
}


.slider {
  /* w100p+h350+bg */
  width: 100%;
  height: 350px;
  background: skyblue;

  position: relative;
}

.slide_wrap {
  /* w100p+h100p */
  width: 100%;
  height: 100%;
}

.slide_item {
  /* posa+t0+l0+w100p+h100p+bd */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p30+bg+fwb+fz20+c#fff+bdrs50+op.7 */
  padding: 30px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border-radius: 50px;
  opacity: 0.7;
}

.link {
  width: 1340px;
  padding: 20px;
  margin: 0 auto;
  background: #5f5;

  margin-top: -80px;
  position: relative;
  z-index: 5;
}

.link_list {
  display: flex;
  justify-content: center; /* jcc */
  gap: 60px; /* g60 */
}

.link_list li a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link_list li img {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
}
.link_list li p {
  /* fwb+fz14 */
  font-weight: bold;
  font-size: 14px;
}

.banner {
  /* w1340+m0-a */
  width: 1340px;
  margin: 0 auto;
  height: 200px;
  background: tomato;
}

.board {
  /* w1340+h400+m0-a */
  width: 1340px;
  height: 250px;
  margin: 0 auto;

  display: flex;
}

.notice {
  width: 50%; /* w50p */
  padding: 30px;
}

.notice_list {
  margin-top: 20px;
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px solid var(--line);
}

.gallery {
  width: 50%;
  padding: 30px;
  background: var(--bg2);
}

.gallery_list {
  display: flex;
  justify-content: center; /* jcc */
  gap: 20px; /* g20 */
  margin-top: 15px;
}

.gallery_list li img {
  display: block;
  width: 180px;
  height: 120px;
  border: 1px solid #000;
}

.gallery_list li p {
  margin-top: 5px;
}

footer {
  /* w1340+h120+m0-a+bg+c#fff+p10 */
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  background: var(--sub);
  color: #fff;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns_list {
  display: flex;
  gap: 20px;
}

.sns_list li img {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

.family select {
  display: block;
  margin-top: 5px;
  width: 160px;
  padding: 5px;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);

  display: none;
  z-index: 10;
}

.popup {
  display: none;
  z-index: 11;

  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+h400+bd+p30+bg#fff+bdrs20 */
  width: 600px;
  height: 400px;
  border: 2px solid #000;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
}

.popup p {
  margin-top: 40px;
  line-height: 1.6;
}

.btn_close {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  border: none;
  background: var(--main);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}