@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: #1b3b86;
  --main_light: #dfe9ff;
  --main_dark: #000e2f;
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  /* w1340+h100+m0-a+bg */
  width: 1340px;
  height: 100px;
  margin: 0 auto;
  background: var(--bg2);
  display: flex; /* df */
  justify-content: space-between;
  align-items: center;
}

.gnb {
  display: flex;
  gap: 10px; /* g10 */
}

.gnb > li > a {
  /* db+p12+w180+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  width: 180px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
  text-align: center; /* tac */
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.gnb > li {
  position: relative; /* 절대배치되는 .submenu의 기준 */
}

.submenu {
  display: none;
  /* posa+t50+l0+w100p+bg */
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  background: #f00;
  z-index: 5; /* z5 */
}

.submenu li a {
  /* db+p10+tac+bd+bg#fff */
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--line);
  background: #fff;
}

.submenu li a:hover {
  background: var(--main_light);
}

.slider {
  /* w100p+h350+bg */
  width: 100%;
  height: 350px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 5px solid #f00; */

  position: relative; /* 절대배치되는 .slide_item의 기준 */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */

  position: absolute;
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs40+bg+fwb+fz40+c#fff+op.7 */
  padding: 40px;
  border-radius: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

.link {
  /* w1340+h90+m0-a+bg */
  width: 1340px;
  height: 90px;
  margin: 0 auto;
  background: #fff;

  /* mt-90 */
  margin-top: -90px;

  z-index: 5;
  position: relative;
}

.link_list {
  display: flex; /* df */
  justify-content: center; /* jcc */
  align-items: center; /* aic */
  gap: 60px; /* g60 */
  /* background: pink; */
  height: 100%;
}

.link_list li a {
  display: flex;
  gap: 12px;
  align-items: center; /* aic */
}

.link_list li a img {
  /* db+w60+h60+bd */
  display: block;
  width: 60px;
  height: 60px;
  /* border: 1px solid #000; */
  background: #0d2c36;
}

.link_list li a p {
  font-weight: bold; /* fwb */
}

.banner {
  width: 1340px;
  height: 200px;
  margin: 0 auto;
  background: green;
}

.board {
  width: 1340px;
  height: 300px;
  margin: 0 auto;
  /* background: yellow; */
  padding: 24px; /* p24 */
  display: flex; /* df */
  gap: 24px;
}

.notice {
  width: 50%; /* w50p */
}

.notice_list {
  margin-top: 20px;/* mt20 */
}

.notice_list li a {
  /* df+p10+bdb */
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--line);
  justify-content: space-between; /* jcsb */
}

.gallery {
  width: 50%; /* w50p */
}

.gallery_list {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center; /* jcc */
}

.gallery_list li img {
  /* db+w180+h180+bd */
  display: block;
  width: 180px;
  height: 140px;
  border: 1px solid var(--line)
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt10+fz14 */
  margin-top: 10px;
  font-size: 14px;
}

footer {
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  background: var(--sub);
  color: #fff; /* c#fff */

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
  padding: 24px; /* p24 */
}

.sns_list {
  display: flex;
  gap: 12px;
}

.sns_list li img {
  /* db+w45+h45+bg */
  display: block;
  width: 45px;
  height: 45px;
  /* background: #0f0; */
}

.family {
  margin-top: 7px;
}

.family select {
  padding: 7px;
  width: 100%;
}

.dim {
  display: none;
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  z-index: 10; /* z10 */
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* z10 */

  /* w600+mih400+bg#fff+bd+p40+bdrs40 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  padding: 40px;
  border-radius: 40px;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m20-a+bg+bdn+c#fff+p10-20+bdrs5+cup */
  display: block;
  margin: 20px auto;
  background: #000;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}