@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(201, 2, 2);
  --main_light: rgb(255, 230, 230);
  --main_dark: rgb(63, 0, 0);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

/* html, body {
  height: 100%;
} */

.wrap {
  display: flex; /* df */
  /* w100p+h+bg */
  width: 100%;
  height: calc(100vh - 120px);
  /* background: yellow; */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
  flex-shrink: 0; /* fxsh0 */
}

.logo {
  /* border: 1px solid #000; */
  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px; /* mt30 */
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;
}

.submenu li a {
  /* db+p12+bg#fff+bd */
  display: block;
  padding: 12px;
  background: #fff;
  border: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.spotmenu {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* jcc */
  gap: 12px;
}

.spotmenu li a {
  /* db+p7+fz12+bg#fff+bd+bdrs30 */
  display: block;
  padding: 7px;
  font-size: 12px;
  background: #fff;
  border: 1px solid var(--main);
  color: var(--main);
  border-radius: 30px;
  width: 60px;
  text-align: center; /* tac */
}

.spotmenu li a:hover {
  background: var(--main);
  color: #fff; /* c#fff */
}

main {
  flex-grow: 1; /* fxg1: 점유할 수 있는 공간이 있을 때 늘어나라 */
  /* width: calc(100% - 200px); */
  /* background: green; */

  display: flex;
}

.c_wrap {
  width: 400px;
  /* background: #000; */
  flex-shrink: 0;
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.banner {
  /* h20p+bg */
  height: 20%;
  /* background: red; */
}

.notice {
  /* h20p+bg */
  height: 30%;
  /* background: orange; */
  padding: 24px; /* p24 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  /* p7+bdb */
  padding: 7px;
  border-bottom: 1px solid var(--line);
  font-size: 14px; /* fz14 */
}

.gallery {
  /* h20p+bg */
  height: 30%;
  background: var(--bg2);
  padding: 24px; /* p24 */
}

.gallery_list {
  /* mt20+df */
  margin-top: 20px;
  display: flex;
  gap: 12px; /* g12 */
  justify-content: center; /* jcc */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 150px;
  height: 10vh;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt5+fz14 */
  margin-top: 5px;
  font-size: 14px;
}

.link {
  /* h20p+bg */
  height: 20%;
  
  padding: 24px; /* p24 */
}

.link_list {
  display: flex; /* df */
  gap: 10px;
  justify-content: center; /* jcc */
  margin-top: 20px; /* mt20 */
}

.link_list li img {
  /* db+w70+h70+bd */
  display: block;
  width: 70px;
  height: 70px;
  /* border: 1px solid #000; */
  background: #eee6ce;
}

.link_list li p {
  /* mt5+fz12 */
  margin-top: 5px;
  font-size: 12px;
}

.slider {
  flex-grow: 1;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 5px solid #f00; */

  display: flex;
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */
  flex-shrink: 0; /* fxsh0 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bg+fwb+fz40+op0.7+c#fff */
  padding: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  opacity: 0.7;
  color: #fff;
  border-radius: 40px; /* bdrs40 */
}

footer {
  /* w100p+h120+bg */
  width: 100%;
  height: 120px;
  background: var(--sub);
  color: #fff;

  display: flex; /* df */
  padding: 24px; /* p24 */
  justify-content: space-between;
  align-items: center;
}

.foot_menu {
  display: flex;
  gap: 24px; /* g24 */
}

.copyright {
  /* mt15+fz14+fwb */
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  display: none;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p30+bg#fff+bdrs30+bd+w600+mih400 */
  padding: 30px;
  background: #fff;
  border-radius: 30px;
  border: 3px solid #000;
  width: 600px;
  min-height: 400px;

  /* text-align: center; */
  display: none;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* mt20+p10-30+bg+bdn+c#fff+bdrs5 */
  margin-top: 20px;
  padding: 10px 30px;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer; /* cup */

  margin: 20px auto;
  display: block;
}