@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --main: rgb(103, 96, 141);
  --main_light: rgb(230, 225, 255);
  --main_dark: rgb(22, 12, 79);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  height: 100px;
  background: var(--main);
}

.inner {
  /* w1200+h100p+m0-a */
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnb {
  display: flex;
  align-self: flex-end;
}

.gnb > li {
  position: relative;
}

.gnb > li > a {
  display: block;
  padding: 12px;
  width: 170px;
  border: 1px solid var(--line);
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  /* background: yellow; */
  z-index: 6;

  padding: 15px 0;
  display: none;
}

.submenu li a {
  display: block;
  padding: 12px;
  text-align: center;
  color: #fff;
}
.submenu li a:hover {
  background: var(--main_light);
  color: var(--main_dark);
}

header .inner {
  position: relative;
}

.gnb_bg {
  background: var(--main_dark);
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 214px;

  display: none;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.slider {
  height: 300px;
  background: skyblue;
  overflow: hidden; /* oh */
}
.slide_wrap {
  width: 100%;
  height: 100%;
  /* border: 2px solid #f00; */

  display: flex;
}
.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  position: relative;

  flex-shrink: 0;
  /* flex: 1 0 auto; */
}
.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs50+bg+fz30+c#fff+op.7 */
  padding: 40px;
  border-radius: 50px;
  background: var(--main_dark);
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
}

.c_wrap {
  height: 200px;
  display: flex;
}

.notice {
  width: 34%;
  padding: 10px;
}

.notice h2 {
  font-size: 18px;
  color: #000;
}

.notice_list {
  margin-top: 10px;
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid var(--line);
}

/* 말줄임 표시: 시험에는 안 나와요. */
.notice_list li a p:first-child {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid #f00; */
}

.gallery {
  width: 33%;
  padding: 10px;
  background: var(--bg2);
}

.gallery h2 {
  font-size: 18px;
  color: #000;
}

.gallery_list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 25px;
}
.gallery_list li img {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

/* 24개 문제 중 2개 유형에서만 나오는 조건이지만 그냥 합시다. */
.gallery_list li:hover img {
  opacity: 0.6; /* op.6 */
  transition: 0.4s; /* trs.4s */
}

.banner {
  width: 33%;
  background: tomato;
}

footer {
  height: 100px;
  background: var(--sub);
  color: #fff;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot_menu {
  display: flex;
}
.foot_menu li a {
  display: block;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
.foot_menu li:last-child a {
  border: none; /* bdn */
}

.copyright {
  margin-top: 10px;
  margin-left: 20px;
}

.family select {
  padding: 10px;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bd+bdrs20+w600+mih400+bg#fff */
  padding: 40px;
  border: 2px solid #000;
  border-radius: 20px;
  width: 600px;
  min-height: 400px;
  background: #fff;
}
.popup p {
  margin-top: 30px;
  line-height: 1.5;
}

.btn_close {
  display: block;
  padding: 10px 20px;
  background: var(--main);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
}
