@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(0, 124, 72);
  --main_light: rgb(223, 255, 242);
  --main_dark: rgb(0, 57, 33);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
  /* color: #000; */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg); /* bg */
  color: var(--text);
}

header {
  /* w100p+h100 */
  width: 100%;
  height: 100px;
  background: var(--bg2);
}

.inner {
  /* w1200+h100p+m0-a+bg */
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  /* background: red; */
}

header .inner {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */

  position: relative; /* posr: 절대배치되는 .gnb_bg의 기준 */
}

.logo {
  /* w200+h40+bd */
  width: 274px;
  height: 70px;
  /* border: 1px solid #000; */
}

.gnb {
  align-self: flex-end; /* asfe: 너만 끝지점으로(교차축) */
  display: flex;
  gap: 5px; /* g5 */
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 submenu의 기준 */
}

.gnb > li > a {
  /* db+p12+w170+bd+bg#000+fwb+c#fff+tac */
  display: block;
  padding: 12px;
  width: 170px;
  /* border: 1px solid var(--line); */
  background: var(--main);
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;

  /* posa+t0+l0+bg */
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 5; /* z5 */
  /* background: #000; */

  width: 100%; /* w100p */
}

.submenu li a {
  /* db+p12+tac+bd */
  display: block;
  padding: 12px;
  text-align: center;
  /* border: 1px solid #000; */
  color: #fff;
}

.submenu li a:hover {
  background: var(--main_dark);
}

.gnb_bg {
  display: none;
  background: var(--main);

  position: absolute; /* posa */
  top: 100px; /* t100 */
  left: 0; /* l0 */
  z-index: 4; /* z4: submenu보다는 밑에 있어 */

  /* w100p+h200 */
  width: 100%;
  height: 200px;
}

footer {
  /* w100p+h100 */
  width: 100%;
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */
}

footer .inner {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.foot_menu {
  display: flex;
  gap: 20px; /* g20 */
}

.copyright {
  /* mt15+fz14 */
  margin-top: 15px;
  font-size: 14px;
}

.family select {
  padding: 10px; /* p10 */
}

main {
  /* w1200+m0-a+bg */
  width: 1200px;
  margin: 0 auto;
  /* background: yellow; */
  height: 500px;
}

.slider {
  /* h300+bg */
  height: 300px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 3px solid #f00; */

  display: flex; /* df */

}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치된 p의 기준 */
  flex-shrink: 0; /* fxsh0: 줄어들지마 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs30+bg+fwb+fz30+c#fff+op.7 */
  padding: 40px;
  border-radius: 30px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
}

.c_wrap {
  /* h200+bg */
  height: 200px;
  /* background: green; */
  display: flex;
}

.c_wrap h2 {
  font-size: 20px;
}

.notice {
  /* w34p+h100p+bg */
  width: 34%;
  height: 100%;
  /* background: blue; */
  padding: 20px; /* p20 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  padding: 6px; /* p6 */
  border-bottom: 1px solid var(--line); /* bdb */
  font-size: 14px; /* fz14 */
}

.gallery {
  /* w33p+h100p+bg */
  width: 33%;
  height: 100%;
  background: var(--bg2);
  padding: 20px; /* p20 */
}

.gallery_list {
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 10px; /* g10 */
  margin-top: 20px; /* mt20 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.banner {
  /* w33p+h100p+bg */
  width: 33%;
  height: 100%;
  background: tomato;
}

.dim {
  display: none;
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bd+bdrs30+w600+mih400+bg#fff */
  padding: 40px;
  border: 3px solid #000;
  border-radius: 30px;
  width: 600px;
  min-height: 400px;
  background: #fff;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+p10-20+bg+c#fff+bdn+bdrs5+cup+m30-a */
  display: block;
  padding: 10px 20px;
  background: var(--main);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px auto;
}