@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(117, 43, 62);
  --main_light: rgb(255, 225, 233);
  --main_dark: rgb(43, 0, 11);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg); /* bg */
  color: var(--text);
}

.wrap {
  /* w100p+h800+bg */
  width: 100%;
  height: 800px;
  /* background: yellow; */

  display: flex; /* df */
}

header {
  /* w200+h100p+bg */
  width: 200px;
  height: 100%;
  background: var(--bg2);
  flex-shrink: 0; /* fxsh0: 줄어들지마 */
  
}

.logo {
  /* w190+h45+bd */
  width: 190px;
  height: 45px;
  /* border: 1px solid #000; */

  /* m30-a */
  margin: 30px auto;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;
}

.submenu li a {
  /* db+p10+bg#fff+bd */
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.c_wrap {
  /* w400+bg */
  width: 400px;
  /* background: green; */
  flex-shrink: 0; /* fxsh0: 줄어들지마 */  
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.notice {
  padding: 24px; /* p24 */
  height: 300px; /* h300 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex; /* df */
  /* p7+jcsb */
  padding: 12px;
  justify-content: space-between;
  border-bottom: 1px dashed var(--line); /* bdb */
}

.gallery {
  padding: 24px; /* p24 */
  height: 300px;
  border-top: 1px solid var(--line); /* bdt */
  border-bottom: 1px solid var(--line); /* bdb */
}

.gallery_list {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* jcc */
  gap: 12px; /* g12 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 160px;
  height: 140px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt7+fz12 */
  margin-top: 7px;
  font-size: 12px;
}

.link {
  padding: 24px; /* p24 */
  height: 200px; /* h200 */
}

.link_list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.link_list li img {
  /* db+w70+h70+bd */
  display: block;
  width: 70px;
  height: 70px;
  /* border: 1px solid #000; */
  background: #f0e7d6;
}

.link_list li p {
  /* mt7+fz12 */
  margin-top: 7px;
  font-size: 12px;
}

.slider {
  /* width: calc(100% - 600px); */
  flex-grow: 1; /* fxg1: 점유할 수 있는 공간이 있으면 - 늘어나 */
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 5px solid #f00; */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs40+bg+fwb+fz40+c#fff+op.7 */
  padding: 40px;
  border-radius: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

footer {
  /* w100p+h100+bg */
  width: 100%;
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */

  display: flex; /* df */
  padding: 24px; /* p24 */
  justify-content: space-between;
  align-items: center;
}

.family select {
  padding: 7px;
}

.dim {
  display: none;
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+p40+bdrs40 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  padding: 40px;
  border-radius: 40px;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+bdrs4+c#fff+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: #000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}