@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(104, 215, 0);
  --main_light: rgb(238, 255, 222);
  --main_dark: rgb(0, 91, 23);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  /* w100p+bd */
  width: 100%;
  /* border: 1px solid #000; */

  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 133px;
  /* border: 1px solid #000; */
  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;
}

.submenu li a {
  /* db+p10+bdb */
  display: block;
  padding: 10px;
  border-bottom: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.spotmenu {
  /* mt40+df */
  margin-top: 40px;
  display: flex;
  justify-content: center; /* jcc */
  gap: 15px; /* g15 */
}

.spotmenu li a {
  /* db+w100+p10+bd+bdrs50+tac */
  display: block;
  width: 70px;
  padding: 10px;
  border: 1px solid var(--main);
  color: var(--main);
  border-radius: 50px;
  text-align: center;
  font-size: 12px; /* fz12 */
}

.spotmenu li a:hover {
  background: var(--main);
  color: #000;
}

main {
  width: calc(100% - 200px);
  /* background: yellow; */
}

.slider {
  /* h400+bg */
  height: 400px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p50+bdrs30+bg+fwb+fz40+c#fff+op.7 */
  padding: 50px;
  border-radius: 30px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

.link {
  /* posa+t0+r0+bg */
  position: absolute;
  top: 0;
  right: 0;
  background: #eadebd;
  padding: 30px; /* p30 */
  min-width: 170px; /* miw */
  text-align: center; /* tac: 인라인, 인라인 텍스트를 가운데로 */
}

.link_list {
  display: flex;
  flex-direction: column; /* fxdc: 메인축을 세로 방향으로 변경 */
  gap: 20px;
  font-weight: bold; /* fwb */
}

.link_list li img {
  /* db+w50+h50+bd */
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--line);
  margin: 10px auto; /* m10-a */
}

.banner {
  /* h200+bg */
  height: 200px;
  background: tomato;
}

.board {
  /* h250+p30 */
  height: 250px;
  padding: 30px;
}

.tab_menu {
  display: flex; /* df */
  gap: 15px; /* g15 */
}

.tab_menu a {
  /* db+p10+bd */
  display: block;
  padding: 10px;
  border: 1px solid var(--main_dark);
  color: var(--main_dark);
  /* w180+bdrs50 */
  width: 180px;
  border-radius: 50px;
  font-weight: bold; /* fwb */
  text-align: center; /* tac */
}

.tab_menu a.on {
  background: var(--main_dark);
  color: #fff; /* c#fff */
}

.notice_list {
  margin-top: 15px; /* mt15 */

  /* display: none; */
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid var(--line); /* bdb */
  font-size: 14px; /* fz14 */
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  gap: 20px; /* g20 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 400px;
  height: 110px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt5+fz14 */
  margin-top: 5px;
  font-size: 14px;
}

footer {
  /* w100p+h100+bg */
  width: 100%;
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */

  /* p30+df */
  padding: 30px;
  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.foot_logo {
  width: 105px;
  height: 70px;
}

.sns_list {
  display: flex;
  gap: 20px; /* g20 */
}

.sns_list li img {
  /* db+w40+h40 */
  display: block;
  width: 40px;
  height: 40px;
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+p40+bdrs30 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  padding: 40px;
  border-radius: 30px;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+c#fff+bdrs5+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: var(--main_dark);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}