@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top;
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(60, 60, 114);
  --main_light: rgb(232, 232, 255);
  --main_dark: rgb(6, 6, 48);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg); /* bg */
  color: var(--text);
}

.wrap {
  /* w100p+h100vh+bg */
  width: 100%;
  height: calc(100vh - 120px);
  /* background: yellow; */

  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
  flex-shrink: 0; /* fxsh0: 줄어들지마 */
}

.logo {
  /* w190+h45+bd */
  width: 190px;
  height: 45px;
  /* border: 1px solid #000; */
  /* m30-a */
  margin: 30px auto;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark); /* bg */
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.submenu {
  display: none;
  /* posa+t0+l0+bg */
  position: absolute;
  top: 14px;
  left: 180px;
  width: 100%;
  width: 180px;
  z-index: 5; /* z5 */
  border: 3px solid var(--main_dark); /* bd */
}

.submenu li a {
  /* db+p12+bg#fff+bd */
  display: block;
  padding: 12px;
  background: #fff;
  border: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.c_wrap {
  width: 400px;
  /* background: pink; */
  flex-shrink: 0; /* fxsh0: 줄어들지마 */
}

.banner {
  /* h170+bg */
  height: 170px;
  background: tomato;
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.notice {
  padding: 24px; /* p24 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  /* df+p7+bdb+fz14 */
  display: flex;
  justify-content: space-between; /* jcsb */
  padding: 7px;
  border-bottom: 1px solid var(--line);
  font-size: 14px;
}

.gallery {
  padding: 24px; /* p24 */
  /* background: var(--bg2); */
  border-top: 1px dashed var(--line);
  border-bottom: 1px dashed var(--line);
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 10px; /* g10 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 150px;
  height: 120px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt5+fz12 */
  margin-top: 5px;
  font-size: 12px;
}

.link {
  padding: 24px;
}

.link_list {
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 10px; /* g10 */
}

.link_list li img {
  /* db+w70+h70+bd */
  display: block;
  width: 70px;
  height: 70px;
  /* border: 1px solid #000; */
  background: #32302c;
}

.link_list li p {
  /* mt5+fz12 */
  margin-top: 5px;
  font-size: 12px;
}

.slider {
  /* width: calc(100% - 200px - 400px); */
  flex-grow: 1; /* fxg1: 늘어날 수 있다. */
  background: skyblue;

  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 5px solid #f00; */

  display: flex; /* df */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */
  flex-shrink: 0; /* fxsh0 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs40+bg+fwb+fz40+c#fff+op.7 */
  padding: 40px;
  border-radius: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

footer {
  /* w100p+h120+bg */
  width: 100%;
  height: 120px;
  background: var(--sub);

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
  color: #fff; /* c#fff */
  padding: 24px; /* p24 */
}

.foot_menu {
  display: flex;
  gap: 24px;
}

.copyright {
  /* mt15+fz14+fwb */
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.family select {
  padding: 7px;
}

.dim {
  display: none;
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+p40+bdrs20+bd */
  width: 600px;
  min-height: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  border: 3px solid #000;
}

.popup p {
  /* mt30+lh1.6 */
  margin-top: 30px;
  line-height: 1.6;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+c#fff+cup+bdrs5 */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: var(--main);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}