@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  /* lisn */
  list-style: none;
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(14, 62, 255);
  --main_light: rgb(223, 229, 255);
  --main_dark: rgb(0, 21, 98);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  /* w100p+bd */
  width: 100%;
  /* border: 1px solid #000; */
  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */
  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark); /* bg */
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.submenu {
  /* posa+t0+l200 */
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 5; /* z5 */
  width: 800px;
  /* border: 1px solid #f00; */
  display: none;
}

.submenu li {
  display: inline-block; /* dib */
}

.submenu li a {
  /* db+p12+bd */
  display: block;
  padding: 12px;
  /* border: 1px solid #000; */
  width: 180px; /* w180 */
  color: #fff; /* c#fff */
}

.submenu li a:hover {
  background: var(--main_dark);
}

.gnb_bg {
  position: absolute;
  /* t100+l0 */
  top: 100px;
  left: 200px;
  background: var(--main);
  z-index: 4;

  width: calc(100% - 200px);
  height: 180px;
  display: none;
}

.spotmenu {
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 15px; /* g15 */
  margin-top: 40px; /* mt40 */
}

.spotmenu li a {
  /* db+p10+w100+fz12+bd+bdrs50 */
  display: block;
  padding: 10px;
  width: 70px;
  font-size: 12px;
  border: 1px solid var(--main);
  text-align: center; /* tac */
  border-radius: 50px;
}

main {
  width: calc(100% - 200px);
  /* background: yellow; */
}

.slider {
  /* h400+bg */
  height: 400px;
  background: skyblue;
  overflow: hidden; /* oh: 지금은 반드시 필요한 건 아님 */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  position: relative; /* posr: 절대배치되는 .slide_item의 기준 */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 .slide_item p의 기준 */

  position: absolute;
  /* t0+l0 */
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs30+bg+fwb+fz40+c#fff+op.7 */
  padding: 40px;
  border-radius: 30px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

.link {
  /* w180+bg */
  width: 180px;
  background: #4d8a65;

  /* posa+t0+r0 */
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px; /* p30 */
}

.link_list {
  display: flex;
  flex-direction: column; /* fxdc */
  gap: 20px; /* g20 */
  text-align: center; /* tac */
  font-weight: bold;
}

.link_list li img {
  /* db+w50+h50+bd */
  display: block;
  width: 50px;
  height: 50px;
  /* border: 1px solid var(--line); */
  margin: 10px auto; /* m10-a */
}

.link_list li a:hover {
  color: #fff; /* c#fff */
}

.banner {
  /* h200+bg */
  height: 200px;
  background: tomato;
}

.board {
  height: 250px;
  /* background: green; */
  padding: 30px;
}

.tab_menu {
  display: flex;
  gap: 15px;
}

.tab_menu a {
  /* db+p10+w180+bd+bdrs50 */
  display: block;
  padding: 10px;
  width: 180px;
  border: 1px solid var(--main_dark);
  border-radius: 50px;
  text-align: center; /* tac */
  color: var(--main_dark); /* c */
  font-weight: bold;  /* fwb */
}

.tab_menu a.on {
  background: var(--main_dark);
  color: #fff; /* c#fff */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex;
  /* p7+bdb+fz14 */
  padding: 7px;
  border-bottom: 1px solid var(--line);
  font-size: 14px;
  justify-content: space-between; /* jcsb */
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  gap: 20px; /* g20 */
}

.gallery_list li img {
  /* db+w200+h110+bd */
  display: block;
  width: 400px;
  width: 20vw;  /* w20vw */
  height: 110px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* fz14+mt5 */
  font-size: 14px;
  margin-top: 5px;
}

footer {
  /* h120+bg */
  height: 120px;
  background: var(--sub);
  color: #fff; /* c#fff */

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
  padding: 20px; /* p20 */
}

.foot_menu {
  display: flex;
  gap: 24px; /* g24 */
}

.copyright {
  /* mt15+fz14 */
  margin-top: 15px;
  font-size: 14px;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+bdrs30+p40 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 40px;

  display: none; /* dn */
}

.popup p {
  /* mt30+lh1.5 */
  margin-top: 30px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+c#fff+bdrs5+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}