@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(0, 162, 255);
  --main_light: rgb(223, 243, 255);
  --main_dark: rgb(0, 65, 177);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline; /* tdu */
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.inner {
  width: 1200px;
  height: 100%;
  /* background: red; */
  margin: 0 auto;
}

header {
  /* w100p+h100+bg */
  width: 100%;
  height: 100px;
  background: var(--bg2);
}

header .inner {
  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */

  position: relative; /* posr: 절대배치된 .gnb_bg의 기준 */
  padding: 0 20px; /* p0-20 */
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */
}

.gnb {
  display: flex; /* df */
  gap: 5px; /* g5 */

  align-self: flex-end; /* asfe */
}

.gnb > li {
  position: relative; /* posr: 절대배치된 submenu의 기준 */
}

.gnb > li > a {
  /* db+p12+w170+fwb+bg#000+bd */
  display: block;
  padding: 12px;
  width: 170px;
  font-weight: bold;
  background: var(--main);
  /* border: 1px solid var(--line); */

  text-align: center; /* tac */
  color: #fff; /* c#fff */
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;
  position: absolute;
  /* t40+l0+w100p+bg */
  top: 50px;
  left: 0;
  width: 100%;
  /* background: #000; */

  z-index: 5;
}

.submenu li a {
  /* db+p10+tac+bd */
  display: block;
  padding: 10px;
  text-align: center;
  /* border: 1px solid #000; */
  color: #fff; /* c#fff */
}

.submenu li a:hover {
  background: var(--main_dark);
}

.gnb_bg {
  display: none;
  position: absolute;
  /* t100+l0+w100p+h180+bg */
  top: 100px;
  left: 0;
  width: 100%;
  height: 180px;
  background: var(--main);

  z-index: 4;
}


main {
  /* w1200+h500+m0-a+bg */
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  /* background: yellow; */
}

.slider {
  /* h300+bg */
  height: 300px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 3px solid #f00; */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr : 절대배치되는 p의 기준 역할 */
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bg+fwb+fz40+c#fff+bdrs40+op.7   */
  padding: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  border-radius: 40px;
  opacity: 0.7;  
}

.c_wrap {
  /* w100p+h200+bg */
  width: 100%;
  height: 200px;
  /* background: green; */

  display: flex;
}

.notice {
  width: 34%;
  height: 100%;
  /* background: blue; */
  padding: 20px; /* p20 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--line); /* bdb */
  padding: 6px; /* p6 */
  font-size: 14px; /* fz14 */
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.gallery {
  width: 33%;
  height: 100%;
  /* background: purple; */
  padding: 20px;
  background: var(--bg2);
}

.gallery_list {
  margin-top: 20px;
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 12px; /* g12 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid var(--line);
}
.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.link {
  width: 33%;
  height: 100%;
  background: tomato;
}

footer {
  /* w100p+h100+bg */
  width: 100%;
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */
}

footer .inner {
  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
  padding: 20px;
}

.sns_list {
  display: flex;
  gap: 12px; /* g12 */
}

.sns_list li img {
  /* db+w45+h45 */
  display: block;
  width: 45px;
  height: 45px;
}

.family {
  margin-top: 5px;
}

.family select {
  width: 100%;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  display: none;
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs30+bg#fff+bd+w600+mih400 */
  padding: 40px;
  border-radius: 30px;
  background: #fff;
  border: 3px solid #000;
  width: 600px;
  min-height: 400px;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+p10-30+bg+c#fff+bdn+bdrs5+m20-a */
  display: block;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  cursor: pointer; /* cup */
}