@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: #13b9dd;
  --main_light: #e3faff;
  --main_dark: #1354cc;
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  height: 100px;
  background: var(--bg2);
}

.inner {
  /* w1200+m0-a+bg */
  width: 1200px;
  margin: 0 auto;
  /* background: yellow; */

  height: 100%;
  position: relative; /* gnb_bg 절대배치의 기준점 */
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */
}

.gnb {
  display: flex;
  align-self: flex-end; /* asfe */
  gap: 6px;
}

.gnb > li {
  position: relative;
}

.gnb > li > a {
  display: block;
  width: 170px;
  padding: 12px;
  /* border: 1px solid var(--line); */
  background: var(--main);
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  position: absolute;
  top: 47px;
  left: 0;
  /* background: #000; */
  width: 100%;
  z-index: 2;
  display: none;
  padding: 10px 0;
}

.submenu li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.submenu li a:hover {
  background: var(--main_dark);
}

.gnb_bg {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  background: var(--main);
  display: none;
}

main {
  /* w1200+m0-a+bd */
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.slider {
  height: 300px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 3px solid #f00; */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative;
}

.slide_item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p30+bdrs50+bg+fwb+fz30+c#fff+op0.7 */
  padding: 30px;
  border-radius: 50px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
}

.c_wrap {
  height: 200px;
  /* background: green; */
  display: flex;
}

.notice {
  width: 34%;
  padding: 20px;
}

.notice h2 {
  font-size: 18px;
}

.notice_list {
  margin-top: 10px;
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid var(--line);
  font-size: 14px;
}

.gallery {
  width: 33%;
  padding: 20px;
  background: var(--bg2);
}

.gallery h2 {
  font-size: 18px;
}

.gallery_list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.gallery_list li img {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li:hover img {
  opacity: 0.6;
  transition: 0.6s; /* trs.6s */
}

.link {
  width: 33%;
  background: tomato;
}

footer {
  height: 100px;
  background: var(--sub);
  color: #fff;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns_list {
  display: flex;
  gap: 16px;
}

.sns_list li img {
  display: block;
  width: 40px;
  height: 40px;
  /* border: 1px solid #fff; */

  /* bdrs50p */
  border-radius: 50%;
  border-radius: 10px;
}

.family {
  margin-top: 5px;
}

.family select {
  width: 100%;
  padding: 5px;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);
  display: none;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+bdrs30+p30 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 30px;
  display: none;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m20-a-0+bdn+bg+c#fff+p10-30+cup+bdrs5 */
  display: block;
  margin: 20px auto 0;
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
}