@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(255, 89, 117);
  --main_light: rgb(255, 223, 228);
  --main_dark: rgb(97, 0, 72);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.2);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none; 
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  /* w1000+bd */
  width: 1000px;
  /* border: 1px solid #000; */

  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */

  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none; /* dn */
}

.submenu li a {
  /* db+p10+bd+bg#fff */
  display: block;
  padding: 10px;
  border: 1px solid var(--line);
  background: #fff;
}

.submenu li a:hover {
  background: var(--main_light);
}

.container {
  /* w800+bg */
  width: 800px;
  /* background: yellow; */
}

.slider {
  /* h350+bg */
  height: 350px;
  background: skyblue;
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  position: relative; /* posr: 절대배치되는 slide_item의 기준 */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 역할 */

  /* posa+t0+l0 */
  position: absolute;
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* p40+bdrs30+bg+fwb+fz30+c#fff+op.7 */
  padding: 40px;
  border-radius: 30px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
}

.c_wrap {
  /* h200+bg */
  height: 200px;
  /* background: green; */
  display: flex;
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.notice {
  /* w34p+bg */
  width: 34%;
  /* background: #000; */
  padding: 20px; /* p20 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex; /* df */
  /* p6+bdb */
  padding: 6px;
  border-bottom: 1px solid var(--line);

  /* jcsb+fz14 */
  justify-content: space-between;
  font-size: 14px;
}

.gallery {
  /* w33p+bg */
  width: 33%;
  background: var(--bg2);
  padding: 20px;
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  justify-content: center; /* jcc */
  gap: 7px; /* g7 */
}

.gallery_list li img {
  /* db+w70+h100+bd */
  display: block;
  width: 70px;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.link {
  /* w33p+bg */
  width: 33%;
  background: tomato;
}

footer {
  /* h100+bg */
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */

  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */

  padding: 20px; /* p20 */
}

.sns_list {
  display: flex; /* df */
  gap: 10px;
}

.sns_list li img {
  /* db+w40+h40+bd */
  display: block;
  width: 40px;
  height: 40px;
  /* border: 1px solid #000; */
}

.family {
  margin-top: 10px;
}

.family select {
  /* w100p+p5 */
  width: 100%;
  padding: 5px;
}

.dim {
  /* posf+t0+l0+w100p+h100p+bg */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--line);

  display: none;
}

.popup {
  display: none;
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+p40+bdrs30 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  padding: 40px;
  border-radius: 30px;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+bg+bdn+p10-30+bdrs5+c#fff+cup */
  display: block;
  margin: 30px auto;
  background: #000;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}