@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(10, 134, 70);
  --main_light: rgb(227, 255, 240);
  --main_dark: rgb(0, 59, 29);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: underline; /* tdu */
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  /* w1000+bd */
  width: 1000px;
  /* border: 1px solid #000; */

  display: flex;  /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 65px;
  /* border: 1px solid #000; */
  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.submenu {
  /* posa+t0+l0+bg */
  position: absolute;
  top: 10px;
  left: 160px;
  background: #fff;

  width: 170px;
  /* width: 100%; */

  z-index: 5; /* z5 */

  border: 3px solid var(--main_dark);
  border-radius: 10px; /* bdrs10 */
  overflow: hidden; /* oh */

  display: none; /* dn: 제이쿼리를 위한 준비 */
}

.submenu li a {
  /* db+p10+bdb */
  display: block;
  padding: 10px;
  border-bottom: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.container {
  /* w800+bg */
  width: 800px;
  /* background: yellow; */
}

.slider {
  /* w100p+h350+bg */
  width: 100%;
  height: 350px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  display: flex; /* df */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 .slide_item p의 기준 */

  /* fxsh0 : 줄어들지마 */
  flex-shrink: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bg+c#fff+fwb+fz30+bdrs30+op.7 */
  padding: 40px;
  background: var(--main_dark);
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  border-radius: 30px;
  opacity: 0.7;
}

.c_wrap {
  /* h200+bg */
  height: 200px;
  /* background: green; */

  display: flex;
}

.c_wrap h2 {
  font-size: 20px; /* fz20 */
}

.notice {
  /* w34p+bg */
  width: 34%;
  /* background: red; */
  padding: 20px; /* p20 */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex;
  justify-content: space-between; /* jcsb */
  padding: 6px; /* p6 */
  border-bottom: 1px solid var(--line); /* bdb */
  font-size: 14px; /* fz14 */
}

.gallery {
  /* w33p+bg */
  width: 33%;
  background: var(--bg2);
  padding: 20px;
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex;
  justify-content: center; /* jcc */
  gap: 7px; /* g7 */
}

.gallery_list li img {
  /* db+w70+h100+bd */
  display: block;
  width: 70px;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.banner {
  /* w33p+bg */
  width: 33%;
  background: pink;
}

footer {
  /* h100+bg */
  height: 100px;
  background: var(--sub);
  color: #fff; /* c#fff */

  /* p20+df */
  padding: 20px;
  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.foot_menu {
  display: flex;
  gap: 20px; /* g20 */
}

.copyright {
  /* mt15+fz14 */
  margin-top: 15px;
  font-size: 14px;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+p40+bd+bdrs30+bg#fff */
  width: 600px;
  min-height: 400px;
  padding: 40px;
  border: 3px solid #000;
  border-radius: 30px;
  background: #fff;

  display: none; /* dn */
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+bg+c#fff+bdn+p10-20+bdrs5+cup */
  display: block;
  margin: 30px auto;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}