@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(119, 0, 204);
  --main_light: rgb(243, 225, 255);
  --main_dark: rgb(67, 0, 115);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  width: 1000px;
  /* background: yellow; */

  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */
  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
  padding: 10px; /* p10 */
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;/* dn */
}

.submenu li a {
  /* db+p10+bg#fff+bd */
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

.container {
  width: 800px;
  /* background: green; */
}

.slider {
  height: 350px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */
  position: relative; /* posr: 절대배치되는 slide_item의 기준 */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */

  position: absolute; /* posa */
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs30+bg+c#fff+fwb+fz30+op.7 */
  padding: 40px;
  border-radius: 30px;
  background: var(--main_dark);
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.7;
}

.c_wrap {
  height: 200px;
  /* background: blue; */
  display: flex; /* df */
}

.board {
  /* w34p+bg */
  width: 34%;
  /* background: #000; */
  padding: 15px; /* p15 */
}

.tab_menu {
  display: flex;
  gap: 10px; /* g10 */
}

.tab_menu a {
  /* db+p7+w120+bg */
  display: block;
  padding: 7px;
  width: 120px;
  background: #fff;
  border: 1px solid var(--main); /* bd */
  border-radius: 50px; /* bdrs50 */
  text-align: center; /* tac */
}

.tab_menu a.on {
  background: var(--main);
  color: #fff; /* c#fff */
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  /* p6+bdb */
  padding: 6px;
  border-bottom: 1px solid var(--line);
  font-size: 14px; /* fz14 */
}

.gallery_list {
  margin-top: 20px; /* mt20 */
  display: flex; /* df */
  gap: 5px; /* g5 */
  justify-content: center; /* jcc */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 75px;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.banner {
  /* w33p+bg */
  width: 33%;
  background: tomato;
}

.link {
  /* w33p+bg */
  width: 33%;
  background: yellowgreen;
}

footer {
  /* h100+bg */
  height: 100px;
  background: var(--sub);
  display: flex; /* df */
  color: #fff; /* c#fff */
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* p20 */
}

.foot_menu {
  display: flex;
  gap: 20px; /* g20 */
}

.copyright {
  /* mt15+fz14 */
  margin-top: 15px;
  font-size: 14px;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs30+bg#fff+w600+mih400+bd */
  padding: 40px;
  border-radius: 30px;
  background: #fff;
  width: 600px;
  min-height: 400px;
  border: 3px solid #000;

  display: none; /* 제이쿼리 준비 */
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+p10-20+m20-a+bg+bdrs5+c#fff+bdn+cup */
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  background: var(--main);
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;

  /* width: 180px; */
}