@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: #0a9b97;
  --main_light: #d4fffe;
  --main_dark: #005b58;
  --sub: #f04467;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #666;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg); /* bg */
  color: var(--text);
}

header {
  /* w1340+h100+m0-a+bg */
  width: 1340px;
  height: 100px;
  margin: 0 auto;
  background: var(--bg2);

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.gnb {
  display: flex;
  gap: 5px; /* g5 */

  align-self: flex-end; /* asfe */
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.gnb > li > a {
  /* db+p12+w180+bg+c#fff */
  display: block;
  padding: 12px;
  width: 180px;
  background: var(--main);
  color: #fff;
  text-align: center; /* tac */
  font-weight: bold; /* fwb */
}

.gnb > li > a:hover {
  background: var(--sub);
}

.gnb_bg {
  /* posa+t100+l0+w100p+h180+bg */
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 180px;
  background: var(--main);
  z-index: 5; /* z5 */
  display: none;
}

.submenu {
  display: none;
  /* posa+t45+l0+w100p+bg */
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  /* background: #000; */
  z-index: 6; /* z6 */
}

.submenu li a {
  /* db+p10+tac+c#fff */
  display: block;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.submenu li a:hover {
  background: var(--main_dark);
}

.slider {
  /* w100p+h350+bg */
  width: 100%;
  height: 350px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 5px solid #f00; */

  display: flex; /* df */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */
  flex-shrink: 0; /* fxsh0: 줄어들지 않게 설정 */

  background: pink;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs40+fwb+fz40+bg+c#fff */
  padding: 40px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 40px;
  background: var(--main_dark);
  color: #fff;
  opacity: 0.7; /* op.7 */
}

.link {
  /* w1340+h90+m0-a+bg */
  width: 1340px;
  height: 90px;
  margin: 0 auto;
  background: var(--sub);

  margin-top: -90px;
  z-index: 10;
  position: relative;
}

.link_list {
  display: flex;
  justify-content: center; /* jcc */
  align-items: center; /* aic */
  /* background: #000; */
  height: 100%; /* h100p */
  gap: 60px; /* g60 */
}

.link_list li a {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link_list li a img {
  /* db+w60+h60+bd */
  display: block;
  width: 60px;
  height: 60px;
  /* border: 1px solid #000; */
  background: #1c1716;
}

.link_list li a p {
  font-weight: bold; /* fwb */
  color: #fff; /* c#fff */
}

.banner {
  width: 1340px;
  height: 200px;
  margin: 0 auto;
  background: tomato;
}

.board {
  width: 1340px;
  height: 300px;
  margin: 0 auto;
  /* background: green; */
  padding: 24px; /* p24 */
}

.tab {
  /* w50p+bg */
  width: 50%;
  /* background: #000; */
}

.tab_menu {
  display: flex;
  gap: 12px;
}

.tab_menu a {
  /* db+p10+w150+bg#fff+bd+bdrs30+fwb+c */
  display: block;
  padding: 10px;
  width: 150px;
  background: #fff;
  border: 1px solid var(--main);
  border-radius: 30px;
  font-weight: bold;
  color: var(--main);
  text-align: center; /* tac */
}

.tab_menu a.on {
  background: var(--main);
  color: #fff;
}

.tab_con {
  margin-top: 20px; /* mt20 */
}

.notice_list li a {
  /* df+p10+bdb */
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--line);
  justify-content: space-between; /* jcsb */
}

.gallery_list {
  display: flex;
  justify-content: center; /* jcc */
  gap: 20px;
}

.gallery_list li img {
  /* db+w150+h120+bd */
  display: block;
  width: 200px;
  height: 130px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt10+fz14 */
  margin-top: 10px;
  font-size: 14px;
}

footer {
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  background: #222;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px; /* p24 */
}

.foot_menu {
  display: flex;
  gap: 24px;
}

.copyright {
  /* mt10+fz14+fwb */
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;

  /* w600+mih400+p40+bdrs40+bg#fff+bd */
  width: 600px;
  min-height: 400px;
  padding: 40px;
  border-radius: 40px;
  background: #fff;
  border: 3px solid #000;

  display: none;
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+c#fff+bdrs5+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: var(--sub);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}