@charset 'utf-8';

* {
	/* m0+p0+bxbb */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none; /* lisn */
}

img {
	vertical-align: top; /* vat */
}

:root {
	--main: rgb(234, 14, 43);
	--main_light: rgb(255, 234, 237);
	--main_dark: rgb(136, 0, 18);
	--sub: #606060;
	--bg: #fff;
	--bg2: #f5f5f5;
	--text: #666;
	--line: rgba(0, 0, 0, 0.4);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: var(--main);
}

body {
	background: var(--bg);
	color: var(--text);
}

header {
	/* w1340+h100+m0-a+bg */
	width: 1340px;
	height: 100px;
	margin: 0 auto;
	background: var(--bg2);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 200px;
	height: 100px;
	/* border: 1px solid #000; */
}

.gnb {
	display: flex;
	align-self: flex-end; /* as */
}

.gnb > li {
	position: relative;
}

.gnb > li > a {
	display: block;
	padding: 12px;
	width: 180px;
	background: var(--main);
	color: #fff;
	font-weight: bold;
	border: 1px solid var(--line);
	text-align: center;
}

.gnb > li > a:hover {
	background: var(--main_dark);
}

.submenu {
	display: none;

	position: absolute;
	top: 47px;
	left: 0;
	background: #fff;

	width: 100%;
	z-index: 10;
}

.submenu li a {
	display: block;
	/* p10+tac+bdb */
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid var(--line);
}

.submenu li a:hover {
	background: var(--main_light);
}

.slider {
	height: 350px;
	background: skyblue;
}

.slide_wrap {
	/* w100p+h100p+bd */
	width: 100%;
	height: 100%;
	/* border: 3px solid #f00; */

	position: relative;
}
.slide_item {
	/* w100p+h100p+bd */
	width: 100%;
	height: 100%;
	/* border: 1px solid #000; */

	/* posa+t0+l0 */
	position: absolute;
	top: 0;
	left: 0;
}

.slide_item img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* ob */
}

.slide_item p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* p30+bdrs50+fwb+fz30+bg+c#fff */
	padding: 30px;
	border-radius: 50px;
	font-weight: bold;
	font-size: 30px;
	background: var(--main_dark);
	color: #fff;

	opacity: 0.7;
}

.link {
	width: 1340px;
	height: 100px;
	margin: 0 auto;
	background: orange;

	margin-top: -100px;
	z-index: 10;
	position: relative;
}

.link_list {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.link_list li a {
	display: flex;
	gap: 10px;
	align-items: center;
}

.link_list li img {
	/* db+w60+h60+bd */
	display: block;
	width: 60px;
	height: 60px;
	/* border: 1px solid #000; */
}
.link_list li p {
	font-weight: bold;
	color: #fff;
}

.banner {
	width: 1340px;
	min-height: 200px;
	margin: 0 auto;
	background: yellow;
}

.board {
	width: 1340px;
	min-height: 300px;
	margin: 0 auto;
	/* background: green; */
}

.tab {
	/* border: 1px solid #000; */
	padding: 30px 0;
	width: 50%;
}

.tab_menu {
	display: flex;
	gap: 10px;
}

.tab_menu a {
	/* 플렉스의 아이템은 블록화된다. */
	/* p10+w150+bg+bdrs50 */
	padding: 10px;
	width: 150px;

	text-align: center;
	border-radius: 50px;
	font-weight: bold;

	border: 1px solid #000;
}

.tab_menu a.on {
	background: var(--main);
	color: #fff;
}

.tab_con {
	/* background: green; */
	margin-top: 20px;
}

.notice_list li a {
	display: flex;
	justify-content: space-between;
	padding: 7px;
	border-bottom: 1px solid var(--line);
}

.gallery_list {
	display: flex;
	/* justify-content: center; */
	gap: 20px;
}

.gallery_list li a img {
	display: block;
	width: 150px;
	height: 120px;
	border: 1px solid var(--line);
}

.gallery_list li a:hover img {
	opacity: 0.6; /* op.6 */
	transition: 0.4s; /* trs.4s */
}

.gallery_list li a p {
	margin-top: 5px;
}

footer {
	width: 1340px;
	height: 120px;
	margin: 0 auto;
	background: var(--sub);
	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px;
}

.foot_menu {
	display: flex;
	gap: 20px;
}

.copyright {
	margin-top: 10px;
}

.popup {
	/* posf+t50p+l50p+trft */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;

	/* w600+mih400+p50+bd+bdrs30+bg#fff */
	width: 600px;
	min-height: 400px;
	padding: 50px;
	border: 3px solid #000;
	border-radius: 30px;
	background: #fff;

	display: none;
}

.popup p {
	/* mt20+lh1.5 */
	margin-top: 20px;
	line-height: 1.5;
}

.btn_close {
	/* db+m20-a-0+p10-30+bg+c#fff+bdn+bdrs5+cup */
	display: block;
	margin: 20px auto 0;
	padding: 10px 30px;
	background: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
