@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(177, 17, 30);
  --main_light: rgb(255, 235, 237);
  --main_dark: rgb(63, 7, 12);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #666;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none;
  color: var(--main);
}

body {
  background: var(--bg); /* bg */
  color: var(--text);
}

header {
  /* w1340+h100+m0-a+bg */
  width: 1340px;
  height: 100px;
  margin: 0 auto;
  background: var(--bg2);

  display: flex; /* df */
  justify-content: space-between;
  align-items: center;
}

.gnb {
  display: flex;
  gap: 5px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff+tac */
  display: block;
  padding: 12px;
  background: var(--main);
  border: 1px solid var(--line);
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 180px;
}

.gnb > li > a:hover {
  background: var(--main_dark); /* bg */
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.submenu {
  display: none;
  /* posa+t10+l0+w100p+bg */
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 5; /* z5 */
}

.submenu li a {
  /* db+p10+bg#fff+bd+tac */
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--line);
  text-align: center;
}

.submenu li a:hover {
  background: var(--main_light);
}

.slider {
  /* w100p+h350+bg */
  width: 100%;
  height: 350px;
  background: skyblue;
  overflow: hidden; /* oh */
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  position: relative; /* posr: 절대배치되는 .slide_item의 기준 */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr: 절대배치되는 p의 기준 */

  /* posa+t0+l0 */
  position: absolute;
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs40+bg+fwb+fz40+c#fff+op.7 */
  padding: 40px;
  border-radius: 40px;
  background: var(--main_dark);
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  opacity: 0.7;
}

.link {
  /* w1340+h90+bg+m0-a */
  width: 1340px;
  height: 90px;
  background: #f6ebdd;
  margin: 0 auto;

  margin-top: -90px; /* mt-90 */
  z-index: 5;
  position: relative; 
}

.link_list {
  display: flex;
  justify-content: center; /* jcc */
  gap: 60px; /* g60 */
  height: 100%; /* h100p */
  align-items: center; /* aic */
}

.link_list li a {
  display: flex;
  gap: 12px;
  align-items: center; /* aic */
}

.link_list li a img {
  /* db+w60+h60+bd */
  display: block;
  width: 60px;
  height: 60px;
  /* border: 1px solid #000; */

}

.link_list li a p {
  font-weight: bold; /* fwb */
}

.banner {
  /* w1340+h200+m0-a+bg */
  width: 1340px;
  height: 200px;
  margin: 0 auto;
  background: pink;
}

.board {
  width: 1340px;
  height: 350px;
  margin: 0 auto;
  /* background: yellowgreen; */

  padding: 30px; /* p30 */
}

.tab {
  width: 50%;
  /* background: yellow; */
}

.tab_menu {
  display: flex;
  gap: 12px;
}

.tab_menu a {
  /* db+w170+p12+bd+bg#fff+fwb+bdrs30 */
  display: block;
  width: 170px;
  padding: 12px;
  border: 1px solid var(--main);
  background: #fff;
  font-weight: bold;
  border-radius: 30px;
  text-align: center; /* tac */
  color: var(--main);
}

.tab_menu a.on {
  background: var(--main);
  color: #fff;
}

.tab_con {
  margin-top: 24px; /* mt24 */
}

.notice_list li a {
  /* df+p10+bdb */
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--line);
  justify-content: space-between; /* jcsb */
}

.gallery_list {
  display: flex;
  gap: 20px;
}

.gallery_list li img {
  /* db+w200+h160+bd */
  display: block;
  width: 200px;
  height: 160px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt10+fz14 */
  margin-top: 10px;
  font-size: 14px;
}

footer {
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  background: var(--sub);
  color: #fff; /* c#fff */
  padding: 24px;
  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.foot_menu {
  display: flex;
  gap: 24px; /* g24 */
}

.copyright {
  /* mt20+fz14+fwb */
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+mih400+bg#fff+bd+bdrs40+p40 */
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 40px;
  padding: 40px;

  display: none;
  z-index: 10;
}

.popup p {
  /* mt20+lh1.6 */
  margin-top: 20px;
  line-height: 1.6;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+c#fff+bdrs5+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}