@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  /* w100p+h100p */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(21, 212, 255);
  --main_light: rgb(223, 249, 255);
  --main_dark: rgb(0, 53, 118);
  --sub: #222;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit; /* c */
}

a:hover {
  text-decoration: none; /* tdn */
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

.wrap {
  /* w100p+bd */
  width: 100%;
  /* border: 1px solid #000; */
  display: flex; /* df */
}

header {
  /* w200+bg */
  width: 200px;
  background: var(--bg2);
}

.logo {
  /* w200+h40+bd */
  width: 200px;
  height: 40px;
  /* border: 1px solid #000; */

  margin-top: 30px; /* mt30 */
}

.gnb {
  margin-top: 30px;
}

.gnb > li > a {
  /* db+p12+bg#000+bd+fwb+c#fff */
  display: block;
  padding: 12px;
  background: var(--main);
  /* border: 1px solid var(--line); */
  font-weight: bold;
  color: #fff;
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.gnb > li {
  position: relative; /* posr: 절대배치되는 .submenu의 기준 */
}

.submenu {
  /* posa+t0+l0+bd */
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 5; /* z5 */
  /* border: 1px solid #000; */

  width: 1000px; /* 대략 잡은 크기, 나중에 수정 */

  display: none;
}

.submenu li {
  display: inline-block; /* dib: 인라인과 블록의 특징에 동시에 갖는 요소 */
}

.submenu li a {
  /* db+p12+w180+bd */
  display: block;
  padding: 12px;
  width: 180px;
  color: #fff;
  /* border: 1px solid #f00; */
}

.submenu li a:hover {
  background: var(--main_dark);
}

.gnb_bg {
  /* posa+t0+l0+bg */
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 4; /* z4 */
  background: var(--main);

  /* w100p+h200 */
  width: calc(100% - 200px);
  height: 172px;

  display: none; /* dn */
}

main {
  width: calc(100% - 200px);
  /* background: yellow; */
}

.slider {
  /* w100p+h400+bg */
  width: 100%;
  height: 400px;
  background: skyblue;
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  position: relative; /* posr: 절대배치되는 .slide_item의 기준 */
}

.slide_item {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  position: relative; /* posr: 절대배치되는 p의 기준 */

  position: absolute; /* posr: 절대배치되는 p의 기준 */
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p30+bg+fwb+c#fff+bdrs30+p30 */
  padding: 30px;
  background: var(--main_dark);
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  padding: 30px;
  /* fz40+op.6 */
  font-size: 40px;
  opacity: 0.6;
}

.link {
  /* w100p+h150+bg */
  width: 100%;
  height: 150px;
  background: #fefefe;
}

.link_list {
  display: flex; /* df */
  justify-content: center; /* jcc */
  align-items: center; /* aic */
  gap: 24px; /* g24 */
  height: 100%;
}

.link_list li {
  width: 120px;
  text-align: center; /* 감싸고 있는 인라인요소(텍스트 포함)가 가운데 정렬 */
}

.link_list li a img {
  /* db+w100+h100+bd */
  display: inline-block;
  width: 80px;
  height: 80px;
  /* border: 1px solid #000; */
}

.link_list li a p {
  /* mt5+fz14 */
  margin-top: 5px;
  font-size: 14px;
}

.board {
  /* w100p+h250+bg */
  width: 100%;
  height: 250px;
  /* background: #000; */

  display: flex; /* df */
}

.board h2 {
  font-size: 20px; /* fz20 */
}

.notice {
  /* w50p+h100p+bg */
  width: 50%;
  height: 100%;
  /* background: #000; */
  padding: 24px;
}

.notice_list {
  margin-top: 15px; /* mt15 */
}

.notice_list li a {
  display: flex;
  justify-content: space-between;
  /* p7+bdb */
  padding: 9px;
  border-bottom: 1px solid var(--line);

}

.gallery {
  padding: 24px;
  /* w50p+h100p+bg */
  width: 50%;
  height: 100%;
  background: var(--bg2);
}

.gallery_list {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* g10 */
}

.gallery_list li img {
  /* db+w100+h100+bd */
  display: block;
  width: 240px;
  width: 11vw;
  height: 100px;
  border: 1px solid var(--line);
}

.gallery_list li img:hover {
  /* op.6+trs.4s */
  opacity: 0.6;
  transition: 0.4s;
}

.gallery_list li p {
  /* mt5+fz14 */
  margin-top: 5px;
  font-size: 14px;
}

.popup {
  display: none; /* dn */
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p40+bdrs20+w600+mih400+bg#fff+bd */
  padding: 40px;
  border-radius: 20px;
  width: 600px;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
}

.popup p {
  /* mt30+lh1.5 */
  margin-top: 30px;
  line-height: 1.5;
}

.btn_close {
  /* db+m30-a+p10-30+bg+bdn+bdrs5+c#fff+cup */
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  background: #000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

footer {
  /* w100p+h120+bg */
  width: 100%;
  height: 120px;
  background: var(--sub);

  display: flex; /* df */
  color: #fff; /* c#fff */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
  padding: 30px; /* p30 */
}

.foot_menu {
  display: flex;
  gap: 30px; /* g30 */
}

.copyright {
  /* mt15+fz14 */
  margin-top: 15px;
  font-size: 14px;
}

.family select {
  padding: 7px;
}