@charset "UTF-8";

* {
  /* m0+p0+bxbb */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol,li {
  list-style: none; /* lisn */
}

img {
  vertical-align: top; /* vat */
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}

:root {
  --main: rgb(128, 34, 236);
  --main_light: rgb(231, 210, 255);
  --main_dark: rgb(51, 0, 110);
  --sub: #7e7e7e;
  --bg: #fff;
  --bg2: #f5f5f5;
  --text: #333;
  --line: rgba(0,0,0,0.4);
}

a {
  text-decoration: none; /* tdn */
  color: inherit;
}

a:hover {
  text-decoration: none; 
  color: var(--main);
}

body {
  background: var(--bg);
  color: var(--text);
}

header {
  /* w1200+h100+m0-a+bg */
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  /* background: red; */

  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */
}

.logo {
  /* w200+h40+bd */
  width: 233px;
  height: 80px;
  /* border: 1px solid #000; */
}

.gnb {
  display: flex;
}

.gnb > li {
  position: relative; /* posr: submenu 절대배치의 기준 */
}

.gnb > li > a {
  /* db+p10+w170+bg+c#fff+fwb+tac+bd */
  display: block;
  padding: 10px;
  width: 170px;
  background: var(--main);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--line);
  
}

.gnb > li > a:hover {
  background: var(--main_dark);
}

.submenu {
  display: none;
  /* posa+t10+l0 */
  position: absolute;
  top: 41px;
  left: 0;
  background: #fff;

  width: 100%;
  z-index: 10; /* z10 */
}

.submenu li a {
  /* db+p10+tac+bd */
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--line);
}

.submenu li a:hover {
  background: var(--main_light);
}

main {
  /* w1200+h500+m0-a+bg */
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  /* background: yellow; */
}

.slider {
  height: 300px; /* h300 */
  background: skyblue;
}

.slide_wrap {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #f00; */

  position: relative; /* slide_item 절대배치의 기준 */
}

.slide_item {
  /* w100p+h100p+bd */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */

  position: relative; /* posr : 절대배치된 p의 기준 */

  position: absolute;
  /* t0+l0 */
  top: 0;
  left: 0;
}

.slide_item p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* p50+bdrs50+fwb+fz40+c#fff+bg+op.7 */
  padding: 50px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  background: var(--main_dark);
  opacity: 0.7;
}

.c_wrap {
  /* h200+bd */
  height: 200px;
  /* border: 1px solid #000; */

  display: flex; /* df */
}

.board {
  width: 34%;
  /* background: blue; */
  padding: 20px; /* p20 */
}

.tab_menu {
  display: flex; /* df */
  gap: 5px; /* g5 */
}

.tab_menu a {
  /* db+p7+bd+bdrs30 */
  display: block;
  padding: 7px;
  border: 1px solid var(--line);
  border-radius: 30px;

  width: 100px; /* w100 */
  text-align: center; /* tac */
  font-weight: bold; /* fwb */
}

.tab_menu a.on {
  background: var(--main); /* bg */
  color: #fff; /* c#fff */
  border: 1px solid var(--main);
}

.tab_con {
  /* background: yellow; */
  margin-top: 10px; /* mt10 */
}

.notice_list li a {
  display: flex; /* df */
  justify-content: space-between; /* jcsb */
  padding: 6px 0; /* p6-0 */
  border-bottom: 1px solid var(--line); /* bdb */
  font-size: 14px; /* fz14 */
}

.gallery_list {
  display: flex;
  gap: 10px; /* g10 */
  justify-content: center; /* jcc */
}

.gallery_list li img {
  /* w110+h100+bd */
  width: 110px;
  height: 100px;
  border: 1px solid var(--line);

  display: block;
}

.gallery_list li img:hover {
  /* trs.4s+op.6 */
  transition: 0.4s;
  opacity: 0.6;
}

.banner {
  width: 33%;
  background: orange;
}
.link {
  width: 33%;
  background: tomato;
}

footer {
  /* w1200+h100+m0-a+bg */
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: var(--sub);

  color: #fff; /* c#fff */

  display: flex;
  justify-content: space-between; /* jcsb */
  align-items: center; /* aic */

  padding: 20px; /* p20 */
}

.foot_logo {
  /* w233+h80 */
  width: 150px;
  /* height: 80px; */
}

.foot_menu {
  display: flex; 
  gap: 20px; /* g20 */ 
}

.copyright {
  margin-top: 15px; /* mt15 */
  font-size: 14px; /* fz14 */
}

.popup {
  /* posf+t50p+l50p+trft */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* w600+h400+bg#fff+bd+bdrs30+p50 */
  width: 600px;
  height: 400px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 50px;

  display: none; /* dn */
}

.popup p {
  /* mt20+lh1.5 */
  margin-top: 20px;
  line-height: 1.5;
}

.btn_close {
  /* db+mt20+p10-30+bg+c#fff+bdrs5+bdn+cup */
  display: block;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
  margin: 0 auto;
  margin-top: 20px;
}